@inject NavigationManager NavigationManager;

<header class="headerbar">
    <h1>TicketHive</h1>
    <p>Buy Event Tickets Online</p>
</header>
<div class="navbar">
<nav class="top-menu">
    <ol>
        <li class="top-menu-item">
            <a href="/home">Home</a>
        </li>
        <li class="top-menu-item">
            <a href="/booking">Events</a>
            <ol class="top-sub-menu">
                <li class="top-menu-item">
                    <a href="#">Upcoming</a>
                </li>
                <li class="top-menu-item">
                    <a href="#">Tickets</a>
                </li>
                <li class="top-menu-item">
                    <a href="#">Policy</a>
                </li>
            </ol>
        </li>
        <li class="top-menu-item">
            <a href="/ShoppingCart">Shopping Cart</a>
        </li>
        <li class="top-menu-item">
            <a href="/Identity/Account/Login">Login</a>
        </li>
        <li class="top-menu-item">
            <a href="/Identity/Account/Register">Register</a>
        </li>
    </ol>
   
</nav>
    <div class="nav-filler"></div>
</div>

@code {

}