@page "/Booking"

<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Event</th>
            <th scope="col">City</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Slayer</td>
            <td>Göteborg</td>
            <td><button class="button-buy">Buy Ticket</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Abba</td>
            <td>Karlshamn</td>
            <td><button class="button-buy">Buy Ticket</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Nordman</td>
            <td>Malmö</td>
            <td><button class="button-buy">Buy Ticket</button></td>
        </tr>
    </tbody>
</table>




@code {

}
