@page "/confirm"
@inject NavigationManager NavigationManager

<h3>ConfirmPage</h3>

<div class="container">
    <h1 class="mb-4">Confirm Your Order</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- foreach() -->
                                <td>Product 1</td>
                                <td>2</td>
                                <td>$19.99</td>
                            </tr>
                            <tr>
                                <td>Product 2</td>
                                <td>1</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td colspan="2">Subtotal</td>
                                <td>$49.97</td>
                            </tr>
                            <tr>
                                <td colspan="2">Shipping</td>
                                <td>$5.00</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>$54.97</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Billing Information</h5>
                    <p class="card-text">Name</p>
                    <p class="card-text">Username</p>
                    <p class="card-text">Country</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Payment Information</h5>
                    <p class="card-text">Card info</p>
                </div>
            </div>
            <button class="btn btn-success btn-block my-4" style="width:100%;">Confirm Order </button>
            <button class="btn btn-primary btn-block my-4" style="width:100%;" @onclick="RedirectUser">Return </button>
        </div>
    </div>
</div>

@code {

    private void RedirectUser()
    {
        NavigationManager.NavigateTo("Booking");
    }

}
