@page "/Event"

<div class="card mb-3">
    <img src="MicrosoftTeams-image (1).png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        <td><button class="button-buy">Buy Ticket</button></td>
    </div>
</div>

@code {

}
