@page "/Home"

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/images/MicrosoftTeams-image (1).png" class="card-img-top" alt="eventbild">
      <div class="card-body">
        <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/MicrosoftTeams-image (10).png" class="card-img-top" alt="eventbild">
      <div class="card-body">
        <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
      </div>
    </div>
  </div>
    <div class="col">
        <div class="card">
            <img src="/images/MicrosoftTeams-image (11).png" class="card-img-top" alt="eventbild">
            <div class="card-body">
                <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/MicrosoftTeams-image (12).png" class="card-img-top" alt="eventbild">
            <div class="card-body">
                <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/MicrosoftTeams-image (13).png" class="card-img-top" alt="eventbild">
            <div class="card-body">
                <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/MicrosoftTeams-image (14).png" class="card-img-top" alt="eventbild">
            <div class="card-body">
                <h5 class="card-title">Eventnamn</h5>
                <p class="card-text">Kort info om event</p>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <ul class="list-group">
        <li class="list-group-item"><h5>My Events</h5></li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>


@code {

}
