@page "/"
@inject AuthenticationStateProvider provider

<PageTitle>Index</PageTitle>


<div class="container-main">
	<aside class="left-sidebar white-background">
@*			<h2>left side</h2>*@
	</aside>

	<main class="center-content white-background blue-foreground">
		<div><h2>TESTING PAGE!</h2></div>
	    <ul>
			<li>
                <strong class="red-foreground">Slayer</strong> - 2023-06-24<button class="button-buy" type="submit">Buy Ticket</button>
            </li>
            <li>
                <strong class="red-foreground">Trelleborgs Erotikmässa</strong> - 2023-07-12<button class="button-buy" type="submit">Buy Ticket</button>
            </li>
            <li>
            </li>
        </ul>
    </main>
		<aside class="right-sidebar white-background">
		@*	<h2>right side</h2>*@
	</aside>
</div>





@*    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await provider.GetAuthenticationStateAsync();

        var name = authState.User.Identity.Name;

        isAdmin = authState.User.IsInRole("Admin");
    }*@
