@page "/"
@inject AuthenticationStateProvider provider

<PageTitle>Index</PageTitle>


@*<div class="container-main">
	<aside class="left-sidebar white-background">

	</aside>

	<main class="center-content white-background blue-foreground">
		<div><h2>TESTING PAGE!</h2></div>
	    <ul>
			<li>
                <strong class="red-foreground">Slayer</strong> - 2023-06-24<button class="button-buy" type="submit">Buy Ticket</button>
            </li>
            <li>
                <strong class="red-foreground">Trelleborgs Erotikmässa</strong> - 2023-07-12<button class="button-buy" type="submit">Buy Ticket</button>
            </li>
            <li>
            </li>
        </ul>
    </main>
		<aside class="right-sidebar white-background">

	</aside>
</div>*@


<div class="container">
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card">
						<img
							src="https://via.placeholder.com/300x200.png?text=Event+Image"
							class="card-img-top"
							alt="Event Image"
						/>
						<div class="card-body">
							<h5 class="card-title">Event Name</h5>
							<h6 class="card-subtitle mb-2 text-muted">Event Type Name</h6>
							<p class="card-text">Event Description (optional)</p>
							<p class="card-text">Event Start Time - Event End Time</p>
							<p class="card-text">Event Country Name</p>
							<p class="card-text font-weight-bold">$Event Price</p>
							<a href="#" class="btn btn-buy btn-block">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
</div>







@*    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await provider.GetAuthenticationStateAsync();

        var name = authState.User.Identity.Name;

        isAdmin = authState.User.IsInRole("Admin");
    }*@
