@page "/"
@inject AuthenticationStateProvider provider

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@*@code
{
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await provider.GetAuthenticationStateAsync();

        var name = authState.User.Identity.Name;

        isAdmin = authState.User.IsInRole("Admin");
    }
}*@